* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  nav::after {
    content: "";
    clear: both;
    display: table;
  } 

  nav, footer {
    background-color: black;
    color: white;
    /*padding: 1em;*/
    
  }
   
  footer {
    text-align: center;
    margin-top: 1em;
  }

  /*to ask nir*/
  /*nav {
    padding-bottom: 1.5em;
  }*/

  nav > .logo {
    display: block;
    float: left;
    
  }
 
  .menu a.icon {
    float: right;
    display: block;
  }

  nav a, footer > a {
    text-decoration: none;
    color: white;
    padding: 1em;
  }

  .project > img , .main-img > img {
    width: 100%;
  }

  .project > button {
    color: black;
    background-color: lightgray;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    margin-top: 0.3em;
  }

  .projects > h2 {
    border-bottom: solid 1px lightgray;
    padding-bottom: 0.5em;
    margin-left: 0.2em;
  }
  
  
  /* For mobile phones: */
[class*="col-"] {
  float: left;
  padding: 0.3em;
  width: 100%;
}

.menu > a:not(:last-child) { 
  display: none;
}

.menu.responsive > a:not(:last-child) {
  /*float: none;*/
  display: block;  
}



.menu {
  float: none;
  }

/* not working - talk with Nir */
/* the div is located at the top although it suppose to be block */
.responsive {
  position: relative;
}



.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
  

}

 
.responsive > a:hover {
  background-color: gray;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  div.menu {
    display: block;
    float: right;
    margin-top: 0;
    
  }
  .menu > a:not(:last-child) { 
    display: inline-block;
    /*float: right;*/
    /*padding: 0.5em;*/
  }

  .menu a.icon {
    display: none;
   
  }

  
}


  